/* Cellules autre que première */
.standings-page .table.is-striped td:not(:nth-child(2)),
.standings-page .table.is-striped th:not(:nth-child(2)) {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
    text-align: center !important;
    vertical-align: middle;
}

.standings-page .table.is-striped td:nth-child(2),
.standings-page .table.is-striped th:nth-child(2) {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    text-align: left !important;
    vertical-align: middle;
}
.standings-page .table.is-striped th:nth-child(2) { 
    padding-left: 20px !important;
}