/* First column */
.roster-page .table th:first-child,
.roster-page .table td:first-child {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    text-align: left;
    vertical-align: middle;
}
.roster-page .table th:first-child {
    padding-left: 20px !important;
} 

/* Cellules autre que première */
.roster-page .table.is-striped td:not(:first-child),
.roster-page .table.is-striped th:not(:first-child) {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
    text-align: center !important;
    vertical-align: middle;
}

/* Avant dernieres cellules */
.roster-page .table.is-striped td:nth-last-child(2),
.roster-page .table.is-striped th:nth-last-child(2) {
    width: 135px !important;
    min-width: 135px !important;
    max-width: 135px !important;
    text-align: left !important;
    padding-left: 25px !important;
}

/* Dernieres cellules */
.roster-page .table.is-striped td:last-child,
.roster-page .table.is-striped th:last-child {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    text-align: left !important;
    padding-left: 16px !important;
}
